@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root{
  --azulClaro: #9cc5d5;
  --naranja:  #eb6356;
  --rosa: #cdabc2;
  --violeta: #d4799a;
}

/*SCROLL BAR*/
/*Webkit*/
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: grey;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: 
  #d39393;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #b9bae6;  /* creates padding around scroll thumb */
}

html {
  box-sizing: border-box;}

*, *:before, *:after {
  box-sizing: border-box;
 }

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  background-color: #F4F6FC;
}

h1{
  color: var(--rosa);
  font-size: 32px;
  margin: 0.3em 0 !important;
}

h3{
  color: var(--azulClaro);
  font-size: 25px;
  text-align: center;
}


.logo{
    width: 138px;
    margin: 3px 3px 3px 20px;
}

.bars__menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none; }
    .bars__menu span {
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 10px;
      background: var(--rosa);
      margin-top: 6px;
      transition: all 300ms;
      transform-origin: 0px 100%; }
  
  .activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px); }
  
  .activeline3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px); }
  
  .activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px; }
  
  @media (max-width: 700px) {
    header {
      justify-content: space-between;
      align-items: center; }
    .bars__menu {
      display: block;
      margin: 0 20px;
      position: absolute;
      top: 14px;
      right: 7px;
    }
    .menu__desplegable {
      display: none;
      transition: ease-in-out .3s; }
    .activemenu__desplegable {
      display: block; }
      .menu__desplegable{
        margin: 0 auto;
      }
    }

header{
  display: flex;
  background-color: white;
}
@media (max-width:700px){
  header{  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 14px 5px rgba(238,255,249,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 14px 5px rgba(238,255,249,0);}
}

.activemenu__desplegable{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa ;
}

nav a{
  color:#36477F;
  text-decoration: none;
  padding: 5px;
  font-size: 24px;
}

.enlace-activo{
  color: #d99393;
}

@media(min-width:701px){
    .menu__desplegable{
      display: flex;
      justify-content: space-around;
    }
}

/* INICIO */
@media (max-width:700px){
.inicio-img{
  width: 100%;
}

.inicio-img img{
  width: 100%;
}
.inicio-textos{
  width: 90%;
  margin: 10px auto;
  
}
.inicio-textos a{
  background-color: var(--violeta);
  padding: 1rem 3rem;
  border-radius: 40px;
  margin-top: 10rem;
  color: white;
  text-decoration: none;
  transition: .3s;
}
.inicio-textos a:hover{
  background-color: var(--rosa);
}
.inicio-textos p{
  margin-bottom: 3rem;
}
.inicio-textos h3{
  text-align: left;
}
}


.elegirnos{
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;
}
.elegirnos p{
  text-align: center;
}

/*SERVICIOS*/
.servicios{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.servicios h2{
  text-align: center;
  font-size: 25px;
  color: #9cc5d5;
}

.servis{
  width: 200px;
}

















@media (min-width:701px){
  header{
    justify-content: center;
  }

  .inicio-img img{
    width: 100%;
  }

  .inicio{
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.inicio-textos{
  min-width: 500px;
  text-align: center;
}
h1{
  text-align: center;
}

}