.contenedor-productos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto{
    flex-wrap: wrap;
    width: 400px;
    margin: 40px;
    background-color: rgb(226, 218, 226);
    padding: 5px 20px;
    -webkit-box-shadow: 0px 0px 17px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -10px rgba(0,0,0,0.75);
    border-radius: 10px ;
    border: 2px solid rgb(180, 158, 180);
}

.producto:hover{
    transform: scale(1.0060);
    -webkit-box-shadow: 0px 4px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 9px -4px rgba(0,0,0,0.75);
    padding: -3px;
}


.producto img{
    width: 100%;
    height: 250px;
    border: 1px solid white;
    border-radius: 5px;
}

@media (max-width:430px){
    .producto img{
        width: 100%;
        height: 180px;
    }
}
@media (max-width:340px){
    .producto img{
        width: 100%;
        height: 140px;
    }
}

.ideal{
    font-size: 23px;
    margin: 5px 0;
    color: rgb(51, 49, 49);
    text-decoration: underline;
}

.tipo-pagina{
    font-size: 35px;
    margin: 9px 0;
    color: rgb(124, 176, 197);
}